<div class="container">
  <!-- Sección de imágenes -->
  <div class="image-section">
    <div class="image-grid">
      <img src="/img/1.jpg" alt="Herramientas">
      <img src="/img/2.jpg" alt="Herramientas">
      <img src="/img/3.jpg" alt="Herramientas">
      <img src="/img/4.jpg" alt="Herramientas">
    </div>
  </div>

<div class="login-container">
  <h2>Bienvenido a Ferretería "El Cóndor"</h2>

  <!-- Mensaje de error general -->
  <div *ngIf="formSubmitted && loginForm.invalid" class="general-error-message" aria-live="polite">
    <small>Es necesario llenar todos los campos correctamente.</small>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Campo Nombre de Usuario -->
    <div class="form-group">
      <label for="userName">Nombre de Usuario:</label>
      <input type="text" id="userName" formControlName="userName" placeholder="Nombre de usuario" required />
      <div *ngIf="formSubmitted && loginForm.get('userName')?.invalid" class="error-message" aria-live="polite">
        <small *ngIf="loginForm.get('userName')?.errors?.['required']">El nombre de usuario es obligatorio.</small>
      </div>
    </div>

    <!-- Campo Contraseña -->
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" placeholder="Ingrese la contraseña" required />
      <div *ngIf="formSubmitted && loginForm.get('password')?.invalid" class="error-message" aria-live="polite">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
      </div>
    </div>

    <!-- Mensaje de carga mientras se envía el formulario -->
    <div *ngIf="isLoading" class="loading-message">
      <small>Validando credenciales...</small>
    </div>

    <!-- Botón de Enviar -->
    <button type="submit" class="btn-enter" [disabled]="isLoading">
      {{ isLoading ? 'Cargando...' : 'Ingresar' }}
    </button>
  </form>
</div>
