<div class="container">
<div class="image-section">
    <div class="image-grid">
    <img src="/img/1.jpg" alt="Herramientas">
    <img src="/img/2.jpg" alt="Herramientas">
    <img src="/img/3.jpg" alt="Herramientas">
    <img src="/img/4.jpg" alt="Herramientas">
    </div>
</div>

<div class="change-password-container">
    <h2>BIENVENIDO A FERRETERIA "EL CONDOR"</h2>
    <h3>Ingrese su nueva contraseña</h3>
    <br>

    
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="Nueva contraseña" required />
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="error-message">
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">La nueva contraseña es obligatoria.</small>
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmar contraseña" required />
        <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" class="error-message">
          <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Confirmar la contraseña es obligatorio.</small>
        </div>
        <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched" class="error-message">
        <small>Las contraseñas no coinciden.</small>
        </div>
    </div>

    <hr>

    <button type="submit" class="btn-enter" [disabled]="isLoading">
        {{ isLoading ? 'Cargando...' : 'Confirmar' }}
    </button>
    </form>
</div>
</div>