<div class="change-password-container">
    <h2>Cambiar Contraseña</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="Nueva contraseña" required />
        <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="error-message">
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">La nueva contraseña es obligatoria.</small>
          <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
        </div>
    </div>


    <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmar contraseña" required />
        <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched" class="error-message">
          <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Confirmar la contraseña es obligatorio.</small>
          <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Las contraseñas no coinciden.</small>
        </div>
    </div>


      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>


    <button type="submit" class="btn-submit" [disabled]="isLoading">
        {{ isLoading ? 'Cargando...' : 'Cambiar Contraseña' }}
    </button>
    </form>
</div>