$primary-color: #333;
$secondary-color: #555;
$background-color: #f8f8f8;
$text-color: #111;

.contenedor {
  height: 100%;
 background-color: green;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: $text-color;
  flex: 1;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: $primary-color;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 15px;
  color: $secondary-color;
}

.slider {
  background-color: red;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 800px;  
  height: 250px; 
  object-fit: cover; 
}

@media (min-width: 768px) {
  .slider img {
    height: 150px;
    object-fit: cover;
  }
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }
  
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  
  75% { margin-left: -300%; }
  100% { margin-left: -300%; }
}

.slider::before {
  left: 10px;
}

.slider::after {
  right: 10px;
}

