<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [opened]="isMenuOpen()" class="sidenav">
        <div class="logo">
            <img src="/img/CONDOR.jpeg" alt="El Condor" width="100" height="100">
        </div>
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of menuItems" 
            [routerLink]="item.route" 
            routerLinkActive="active"
            (click)="isMenuOpen() ? null : toggleMenu()">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.nameMenu }}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <mat-toolbar class="toolbar">
            <button mat-icon-button (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="title">El Condor</span>
            <span class="spacer"></span>
            
            <mat-icon class="notification">notifications</mat-icon>
            
            <div class="profile-container">
                <div class="profile-info">
                    <span class="username">{{ getFullName() }}</span>
                    <span class="user-role">{{ getRole() }}</span>
                </div>
                <button mat-icon-button 
                        [matMenuTriggerFor]="profileMenu" 
                        class="profile-img-button">
                    <img [src]="getProfileImage()" 
                        alt="Perfil" 
                        class="profile-img">
                </button>
            </div>
            
            <mat-menu #profileMenu="matMenu" class="profile-menu">
                <button mat-menu-item (click)="goToProfile()">
                    <mat-icon>account_circle</mat-icon>
                    <span>Mi perfil</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Cerrar sesión</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>