.container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #ff9800; /* Color del menú lateral */
  color: white;
}

.logo {
  text-align: center;
  padding: 15px;
}

mat-nav-list a {
  color: white;
}

.toolbar {
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.notification {
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.page-content {
  padding: 20px;
}

.welcome-image {
  max-width: 100%;
  height: auto;
}
