.container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #ff9800; /* Color del menú lateral */
  color: white;
}

.sidenav mat-icon {
  margin-right: 10px; /* Espacio entre icono y texto */
}

.logo {
  text-align: center;
  padding: 15px;
}

mat-nav-list a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

mat-nav-list a:hover {
  background-color: white; /* Resaltado en blanco */
  color: #ff9800; /* Color del texto cuando se resalta */
  border-radius: 5px;
}

.toolbar {
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.notification {
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.page-content {
  padding: 20px;
}

.welcome-image {
  max-width: 100%;
  height: auto;
}

.profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile-menu {
  position: absolute;
  right: 10px;
  top: 50px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.profile-menu button {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding: 8px;
  cursor: pointer;
}

.profile-menu button:hover {
  background: #f0f0f0;
}
